.p-mr-2 {
    margin-right: 10px;
}

/*#toolbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 99%;
    border-bottom: thin solid #b4b4b4;
}

main {
    position: absolute;
    top: 70px;
    width: 99%;
}
*/